#mainGridLayout {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    z-index: -1;
}

#gridOnOffButton {
    position: fixed;
    right: 15px;
    bottom: 25px;
    z-index: 9999;
    font-size: 100%;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: .5em 1em;
    border: 0 rgba(0,0,0,0);
    text-decoration: none;
    background: #166888;
    min-width: 14em;
}

#gridLayoutButton {
    position: fixed;
    right: 15px;
    bottom: 70px;
    z-index: 9999;
    font-size: 100%;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: .5em 1em;
    border: 0 rgba(0,0,0,0);
    text-decoration: none;
    background: #166888;
    min-width: 14em;
}

/*
 * These styles control the color and size of the grid.
 */

/*
 * This is the color of the grid lines
 */
div.gridLayoutColor {
    background-color: rgba(225, 225, 225, 0.4);
}

div.gridLayoutColColor {
    background-color: rgba(0, 255, 255, 0.8);
}

div.gridLayoutRowColor {
    background-color: rgba(0, 255, 255, 0.8);
}

/*
 * This is the height of each row in the grid
 */
div.gridLayoutRow {
    height: 28px;
}

/*
 * This is the width of the columns in the grid.  The width property is
 * the width of the cell and the padding on the right is the width of the 
 * spacer after each column.
 */
div.gridLayoutColumn {
    width: 28px;
    padding-right: 0px;
}